<% if authenticated? %>
  <p>Authenticated as <%= Current.user.email_address %>. <%= button_to "Sign out", users.session_path, method: :delete %></p>
<% else %>
  <p>You're not authenticated. <%= link_to "Authenticate", users.new_session_path %></p>
<% end %>
